In [110]:
import pandas as pd
import numpy as np

In [111]:
df_assist = pd.read_csv(r'../data/assistance.csv')
df_assist.columns = ['StateCode', 'TotalNumberofInvestments', 'TotalAmountofAssistance', 'Year']
cols = df_assist.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_assist = df_assist[cols]

In [112]:
df_assist

     Year StateCode  TotalNumberofInvestments  TotalAmountofAssistance
0    2003        AZ                         2                  3295000
1    2003        CA                         2                   191830
2    2003        CO                         2                   488500
3    2003        DE                         2                   135000
4    2003        HI                         1                    10073
..    ...       ...                       ...                      ...
525  2014        VA                        44                  1264174
526  2014        WA                        48                  1947421
527  2014        WV                       102                   701031
528  2014        WI                        61                  2223469
529  2014        WY                        14                    94737

[530 rows x 4 columns]

In [113]:
state_codes = np.repeat(pd.unique(df_assist['StateCode']), 2)
variable_names = np.empty_like(state_codes)
variable_names[::2] = 'TotalAmountofAssistance'
variable_names[1::2] = 'TotalNumberofInvestments'

In [119]:
state_codes = pd.unique(df_assist['StateCode'])
variable_names = np.empty_like(state_codes)

indices = pd.MultiIndex.from_arrays([
    state_codes, 
    variable_names
])

In [114]:
indices = pd.MultiIndex.from_arrays([
    state_codes, 
    variable_names
])

final_df = pd.DataFrame(0, index=np.arange(12), columns=indices)
final_df['Year'] = pd.unique(df_assist['Year'])

cols = final_df.columns.tolist()
cols = cols[-1:] + cols[:-1]
final_df = final_df[cols]

In [115]:
final_df

    Year                      AZ                           \
         TotalAmountofAssistance TotalNumberofInvestments
0   2003                       0                        0
1   2004                       0                        0
2   2005                       0                        0
3   2006                       0                        0
4   2007                       0                        0
5   2008                       0                        0
6   2009                       0                        0
7   2010                       0                        0
8   2011                       0                        0
9   2012                       0                        0
10  2013                       0                        0
11  2014                       0                        0

                        CA                                               CO  \
   TotalAmountofAssistance TotalNumberofInvestments TotalAmountofAssistance
0                        0                        0                       0
1                        0                        0                       0
2                        0                        0                       0
3                        0                        0                       0
4                        0                        0                       0
5                        0                        0                       0
6                        0                        0                       0
7                        0                        0                       0
8                        0                        0                       0
9                        0                        0                       0
10                       0                        0                       0
11                       0                        0                       0

                                                 DE                           \
   TotalNumberofInvestments TotalAmountofAssistance TotalNumberofInvestments
0                         0                       0                        0
1                         0                       0                        0
2                         0                       0                        0
3                         0                       0                        0
4                         0                       0                        0
5                         0                       0                        0
6                         0                       0                        0
7                         0                       0                        0
8                         0                       0                        0
9                         0                       0                        0
10                        0                       0                        0
11                        0                       0                        0

                        HI  ...                      MD  \
   TotalAmountofAssistance  ... TotalAmountofAssistance
0                        0  ...                       0
1                        0  ...                       0
2                        0  ...                       0
3                        0  ...                       0
4                        0  ...                       0
5                        0  ...                       0
6                        0  ...                       0
7                        0  ...                       0
8                        0  ...                       0
9                        0  ...                       0
10                       0  ...                       0
11                       0  ...                       0

                                                 NH                           \
   TotalNumberofInvestments TotalAmountofAssistance TotalNumberofInvestments
0                         0                       0                        0
1                         0                       0                        0
2                         0                       0                        0
3                         0                       0                        0
4                         0                       0                        0
5                         0                       0                        0
6                         0                       0                        0
7                         0                       0                        0
8                         0                       0                        0
9                         0                       0                        0
10                        0                       0                        0
11                        0                       0                        0

                        WV                                               CT  \
   TotalAmountofAssistance TotalNumberofInvestments TotalAmountofAssistance
0                        0                        0                       0
1                        0                        0                       0
2                        0                        0                       0
3                        0                        0                       0
4                        0                        0                       0
5                        0                        0                       0
6                        0                        0                       0
7                        0                        0                       0
8                        0                        0                       0
9                        0                        0                       0
10                       0                        0                       0
11                       0                        0                       0

                                                 RI
   TotalNumberofInvestments TotalAmountofAssistance TotalNumberofInvestments
0                         0                       0                        0
1                         0                       0                        0
2                         0                       0                        0
3                         0                       0                        0
4                         0                       0                        0
5                         0                       0                        0
6                         0                       0                        0
7                         0                       0                        0
8                         0                       0                        0
9                         0                       0                        0
10                        0                       0                        0
11                        0                       0                        0

[12 rows x 101 columns]

In [116]:
for state_code, variable in final_df.columns[1:]:
    subset = df_assist[df_assist['StateCode'] == state_code]
    for index, row in subset.iterrows():
        idx = final_df.loc[final_df['Year'] == row['Year']].index[0]
        var_value = row[variable]
        final_df.at[idx, (state_code, variable)] = var_value

In [118]:
final_df.to_csv(r'../data/12-year_lstm_assistance.csv')