In [25]:
import pandas as pd

In [26]:
msn = pd.read_csv(r'../data/50-year_lstm.csv', header=None)
invest = pd.read_csv(r'../data/12-year_lstm_assistance.csv', header=None)

In [27]:
invest

,0,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,101,102
0,NaN,AZ,AZ,CA,CA,CO,CO,DE,DE,HI,...,NH,NH,WV,WV,CT,CT,GU,GU,RI,RI
1,Year,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,...,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments
2,2003,3295000,2,191830,2,488500,2,135000,2,10073,...,0,0,0,0,0,0,0,0,0,0
3,2004,2079885,2,671988,4,425000,2,500000,1,1108548,...,0,0,0,0,0,0,0,0,0,0
4,2005,0,0,849422,6,0,0,0,0,100000,...,0,0,0,0,0,0,0,0,0,0
5,2006,16000,1,339838,3,248681,6,80000,1,547881,...,478901,3,1731,1,0,0,0,0,0,0
6,2007,10557,2,659998,3,476500,5,346000,1,16672,...,0,0,0,0,29397,1,0,0,0,0
7,2008,75839,2,2469385,4,936831,14,80000,1,1922497,...,1020173,6,0,0,1350000,2,0,0,0,0
8,2009,1529959,7,17065986,97,5181049,18,105816,3,443608,...,2493345,40,225000,2,636960,3,20000,1,0,0
9,2010,106306886,66,23018684,428,1507268,187,963525,35,116011905,...,6391431,109,5019105,86,208323,10,0,0,189,1
10,2011,4456560,80,35047470,658,2215177,197,975975,45,7472870,...,776182,18,2337841,52,1063405,22,18284,1,84693,2
11,2012,7457132,90,26634635,761,1820771,212,1058982,33,81729973,...,590099,29,653551,56,913629,25,0,0,60321,4
12,2013,467795,53,25150615,914,675106,226,1189663,30,166131,...,1250485,25,303202,44,1082480,28,532532,3,149933,5
13,2014,1032775,38,29151216,894,912090,131,1312584,35,824132,...,1197779,30,701031,102,550895,21,77106,3,385008,5

In [28]:
msn

,0,1,2,3,4,5,6,7,8,9,...,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519
0,NaN,AK,AK,AK,AK,AK,AK,AK,AK,AK,...,X3,X3,X3,X3,X3,X3,X5,X5,X5,X5
1,Year,BDFDB,BDPRP,BFFDB,BFPRP,CLPRB,CLPRK,CLPRP,COPRK,EMFDB,...,NGMPB,NGMPK,NGMPP,PAPRB,PAPRP,TEPRB,COPRK,PAPRB,PAPRP,TEPRB
2,2003,0,0,0,0,16864,15.6,1081,5.8,0,...,4538644,1.03,4406450,3254177,561065,7792820,5.8,172480,29738,172480
3,2004,0,0,0,0,23587,15.6,1512,5.8,0,...,4092503,1.031,3969450,3105059,535355,7197562,5.8,159552,27509,159552
4,2005,0,0,0,0,22682,15.6,1454,5.8,0,...,3247976,1.037,3132089,2708171,466926,5956147,5.8,153741,26507,153741
5,2006,0,0,0,0,22230,15.6,1425,5.8,0,...,3000636,1.034,2901969,2738052,472078,5738688,5.8,150725,25987,150725
6,2007,0,0,0,0,20654,15.6,1324,5.8,0,...,2888277,1.032,2798718,2714232,467971,5602509,5.8,142819,24624,142819
7,2008,0,0,0,0,23041,15.6,1477,5.8,0,...,2388401,1.032,2314342,2455146,423301,4843547,5.8,139368,24029,139368
8,2009,0,0,0,0,29016,15.6,1860,5.8,0,...,2496926,1.028,2428916,3307792,570309,5804718,5.8,129375,22306,129375
9,2010,0,0,0,0,33556,15.6,2151,5.8,0,...,2301189,1.025,2245062,3286442,566628,5587631,5.8,125901,21707,125901
10,2011,0,0,0,0,33524,15.6,2149,5.8,0,...,1848575,1.02,1812328,2788014,480692,4636588,5.8,114956,19820,114956
11,2012,0,0,0,0,31332,15.268,2052,5.8,0,...,1662907,1.103,1507565,2686978,463272,4349885,5.8,102532,17678,102532
12,2013,0,0,0,0,24917,15.272,1632,5.8,0,...,1437462,1.098,1309247,2656557,458027,4094018,5.8,107683,18566,107683
13,2014,0,0,0,0,22944,15.278,1502,5.8,0,...,1394608,1.112,1253678,2957652,509940,4352260,5.8,107352,18509,107352
14,2015,21,4,21,4,17747,15.073,1177,5.717,0,...,1440228,1.115,1291945,3161089,552928,4601318,5.717,65465,11451,65465
15,2016,27,5,27,5,13942,14.957,932,5.722,0,...,1342128,1.118,1200669,3350677,585578,4692805,5.722,35156,6144,35156
16,2017,29,5,29,5,14365,14.978,959,5.723,0,...,1219626,1.15,1060453,3511644,613602,4731270,5.723,32701,5714,32701
17,2018,15,3,15,3,13752,15.253,902,5.706,0,...,1125516,1.155,974863,3663081,641970,4788597,5.706,27811,4874,27811
18,2019,0,0,0,0,14867,15.252,975,5.698,0,...,1160288,1.143,1015343,3946384,692591,5106671,5.698,25350,4449,25350
19,2020,0,0,0,0,15523,15.206,1021,5.691,0,...,913328,1.157,789262,3424514,601742,4337842,5.691,26002,4569,26002

In [29]:
master = pd.merge(invest, msn, how='outer', on=0)

In [30]:
master

,0,1_x,2_x,3_x,4_x,5_x,6_x,7_x,8_x,9_x,...,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519
0,NaN,AZ,AZ,CA,CA,CO,CO,DE,DE,HI,...,X3,X3,X3,X3,X3,X3,X5,X5,X5,X5
1,Year,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,TotalNumberofInvestments,TotalAmountofAssistance,...,NGMPB,NGMPK,NGMPP,PAPRB,PAPRP,TEPRB,COPRK,PAPRB,PAPRP,TEPRB
2,2003,3295000,2,191830,2,488500,2,135000,2,10073,...,4538644,1.03,4406450,3254177,561065,7792820,5.8,172480,29738,172480
3,2004,2079885,2,671988,4,425000,2,500000,1,1108548,...,4092503,1.031,3969450,3105059,535355,7197562,5.8,159552,27509,159552
4,2005,0,0,849422,6,0,0,0,0,100000,...,3247976,1.037,3132089,2708171,466926,5956147,5.8,153741,26507,153741
5,2006,16000,1,339838,3,248681,6,80000,1,547881,...,3000636,1.034,2901969,2738052,472078,5738688,5.8,150725,25987,150725
6,2007,10557,2,659998,3,476500,5,346000,1,16672,...,2888277,1.032,2798718,2714232,467971,5602509,5.8,142819,24624,142819
7,2008,75839,2,2469385,4,936831,14,80000,1,1922497,...,2388401,1.032,2314342,2455146,423301,4843547,5.8,139368,24029,139368
8,2009,1529959,7,17065986,97,5181049,18,105816,3,443608,...,2496926,1.028,2428916,3307792,570309,5804718,5.8,129375,22306,129375
9,2010,106306886,66,23018684,428,1507268,187,963525,35,116011905,...,2301189,1.025,2245062,3286442,566628,5587631,5.8,125901,21707,125901
10,2011,4456560,80,35047470,658,2215177,197,975975,45,7472870,...,1848575,1.02,1812328,2788014,480692,4636588,5.8,114956,19820,114956
11,2012,7457132,90,26634635,761,1820771,212,1058982,33,81729973,...,1662907,1.103,1507565,2686978,463272,4349885,5.8,102532,17678,102532
12,2013,467795,53,25150615,914,675106,226,1189663,30,166131,...,1437462,1.098,1309247,2656557,458027,4094018,5.8,107683,18566,107683
13,2014,1032775,38,29151216,894,912090,131,1312584,35,824132,...,1394608,1.112,1253678,2957652,509940,4352260,5.8,107352,18509,107352
14,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1440228,1.115,1291945,3161089,552928,4601318,5.717,65465,11451,65465
15,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1342128,1.118,1200669,3350677,585578,4692805,5.722,35156,6144,35156
16,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1219626,1.15,1060453,3511644,613602,4731270,5.723,32701,5714,32701
17,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1125516,1.155,974863,3663081,641970,4788597,5.706,27811,4874,27811
18,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1160288,1.143,1015343,3946384,692591,5106671,5.698,25350,4449,25350
19,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,913328,1.157,789262,3424514,601742,4337842,5.691,26002,4569,26002